@import "mytheme.scss";
@import "addons.scss";

// This file prefixes all rules with the theme name to avoid causing conflicts with other themes.
// The actual styles should be defined in mytheme.scss

.mytheme {
  @include addons;
  @include mytheme;
  

}
.panelwid .v-widget {
    text-align:center;
}
.v-scrollable {
	overflow: true;
}
.v-icon {
	cursor: inherit;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	font-size:32px;
	color:wheat;
}
