<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.v.dao.OrderMapper" >
  <resultMap id="BaseResultMap" type="com.v.bean.Order" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="order_id" property="orderId" jdbcType="INTEGER" />
    <result column="creation_time" property="creationTime" jdbcType="TIMESTAMP" />
    <result column="consumer_id" property="consumerId" jdbcType="INTEGER" />
    <result column="delivery_id" property="deliveryId" jdbcType="INTEGER" />
    <result column="total" property="total" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.v.bean.Order" extends="BaseResultMap" >
    <result column="notes" property="notes" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, order_id, creation_time, consumer_id, delivery_id, total
  </sql>
  <sql id="Blob_Column_List" >
    notes
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from order_form
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from order_form
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.v.bean.Order" >
    insert into order_form (id, order_id, creation_time, 
      consumer_id, delivery_id, total, 
      notes)
    values (#{id,jdbcType=INTEGER}, #{orderId,jdbcType=INTEGER}, #{creationTime,jdbcType=TIMESTAMP}, 
      #{consumerId,jdbcType=INTEGER}, #{deliveryId,jdbcType=INTEGER}, #{total,jdbcType=INTEGER}, 
      #{notes,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.v.bean.Order" >
    insert into order_form
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="creationTime != null" >
        creation_time,
      </if>
      <if test="consumerId != null" >
        consumer_id,
      </if>
      <if test="deliveryId != null" >
        delivery_id,
      </if>
      <if test="total != null" >
        total,
      </if>
      <if test="notes != null" >
        notes,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=INTEGER},
      </if>
      <if test="creationTime != null" >
        #{creationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="consumerId != null" >
        #{consumerId,jdbcType=INTEGER},
      </if>
      <if test="deliveryId != null" >
        #{deliveryId,jdbcType=INTEGER},
      </if>
      <if test="total != null" >
        #{total,jdbcType=INTEGER},
      </if>
      <if test="notes != null" >
        #{notes,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.v.bean.Order" >
    update order_form
    <set >
      <if test="orderId != null" >
        order_id = #{orderId,jdbcType=INTEGER},
      </if>
      <if test="creationTime != null" >
        creation_time = #{creationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="consumerId != null" >
        consumer_id = #{consumerId,jdbcType=INTEGER},
      </if>
      <if test="deliveryId != null" >
        delivery_id = #{deliveryId,jdbcType=INTEGER},
      </if>
      <if test="total != null" >
        total = #{total,jdbcType=INTEGER},
      </if>
      <if test="notes != null" >
        notes = #{notes,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.v.bean.Order" >
    update order_form
    set order_id = #{orderId,jdbcType=INTEGER},
      creation_time = #{creationTime,jdbcType=TIMESTAMP},
      consumer_id = #{consumerId,jdbcType=INTEGER},
      delivery_id = #{deliveryId,jdbcType=INTEGER},
      total = #{total,jdbcType=INTEGER},
      notes = #{notes,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.v.bean.Order" >
    update order_form
    set order_id = #{orderId,jdbcType=INTEGER},
      creation_time = #{creationTime,jdbcType=TIMESTAMP},
      consumer_id = #{consumerId,jdbcType=INTEGER},
      delivery_id = #{deliveryId,jdbcType=INTEGER},
      total = #{total,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>